.radio label, .checkbox label, .radio-inline label, .checkbox-inline label {
    cursor: pointer;
    font-weight: normal;
    padding-left: 25px;
    transition: all 1s ease 0s;
}

.list-checkbox {
    width: 5%;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4{
    color: #5bc0de;
}

.error-validacao {
    border-color: #d15e5e;
    background-color: #FAEBDF !important;
}

.foco {
    background-color: #7BC5D3 !important;
}

.box-content {
    background: none repeat scroll 0 0 #fcfcfc;
    border-radius: 0 0 3px 3px;
    padding: 15px 15px 0px 15px;
    position: relative;
}

.tamanho-obrigatorio {
    font-size:10px !important;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 7px !important;
}

.radio, .checkbox {
    margin-bottom: 7px;
    margin-top: 7px;
}

.pleasewait {
    left: 35%;
    position: absolute;
    top: 50%;
    z-index: 10000;
}


.hide {
  display: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-bottom-color: transparent;
}