.radio label, .checkbox label, .radio-inline label, .checkbox-inline label {
    cursor: pointer;
    font-weight: normal;
    padding-left: 25px;
    transition: all 1s ease 0s;
}

.list-checkbox {
    width: 5%;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4{
    color: #5bc0de;
}

.error-validacao {
    border-color: #d15e5e;
    background-color: #FAEBDF !important;
}

.foco {
    background-color: #7BC5D3 !important;
}

.grafico-exemplo{
    
}

.grafico-listagem:hover{
    background-color: #7BC5D3;
}

.grafico-listagem:first-child:hover{
    background-color: #FFF;
    cursor:default;
}

.forma-selecionada{
    background-color: #6688EE;
    color: #FFF;
}

.grafico-listagem{
    font-size: 14px;
    padding: 5px;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.grafico-listagem:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top:  1px solid #CCC;
    font-weight: bold;
}

.grafico-listagem:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;    
    border-bottom: 1px solid #CCC;
}

.grafico-listagem span{
    vertical-align: middle;
    float: right;
}

.grafico-exemplo > div {
    border: 2px solid #CCC;
    margin-bottom: 5px;
}

.grafico-exemplo > div:hover{
    border: 5px solid #6688EE;
}

.grafico-exemplo > .selected{
    border: 5px solid #6688EE;
}

.breadcrumb {
    background-color: #00923F !important;
}

body {
    background-color: #00923F;
}

.menu-lateral {
    background-color:#00923F !important;
}

.box-content {
    background: none repeat scroll 0 0 #fcfcfc;
    border-radius: 0 0 3px 3px;
    padding: 15px 15px 0px 15px;
    position: relative;
}

.tamanho-obrigatorio {
    font-size:10px !important;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 7px !important;
}

.radio, .checkbox {
    margin-bottom: 7px;
    margin-top: 7px;
}

.tituloOpcoes{
    font-weight: bold;
    text-align: center;
}

.pleasewait {
    left: 35%;
    position: absolute;
    top: 50%;
    z-index: 10000;
}

.pleasewait2{
    left: 50%;
    position: absolute;
    top: 50%;
    z-index: 10000;
}

.sem-z-index {
    z-index: 10 !important;
}

.fundo-3d{
    background-color: #FAFAFA !important;
}

.ui-autocomplete {
    cursor: default;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.dropdown-menu {
    z-index: 2000 !important;
}